<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
      <h1>users</h1>
      <% @users.each do |user| %>
        <div class="card border-dark mb-3">
          <div class="card">
            <div class="card-body" style="background-color: #B0C4DE";>
              <p>name: <%= user.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <p>
      <h1>doctors</h1>
      <% @doctors.each do |doctor| %>
        <div class="card border-dark mb-3">
          <div class="card">
            <div class="card-body" style="background-color: #B0C4DE";>
              <p>name: <%= doctor.email %></p>
              <% options = @categories.map { |category| [category.name, category.id] } %>
              <% if doctor.categories.count < 1 %>
                <%= simple_form_for :assign_user_to_category, url: assign_user_to_category_path, method: :post do |f| %>
                  <%= f.input :category_id, collection: options, default: options.first %>
                  <%= f.hidden_field :doctor_id, :value => doctor.id %>
                  <%= f.submit "add category"%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <p>
      <div class="row">
        <h1>categories</h1>
      </div>
      <% @categories.each do |category| %>
        <div class="card border-dark mb-3">
          <div class="card">
            <div class="card-body" style="background-color: #B0C4DE";>
              <p>name: <%= category.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
